body{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat' , sans-serif;
  padding: 30px 10px;
  max-width:100%;
  overflow-x: hidden;
}

.sidebar{
  width: 10vw;
  max-width: 120px;
  position: fixed;
  border-right: 1px solid gainsboro;
  margin-top: 25px;
}

.content{
  margin-left: 12vw;
  width: 85vw;
  display: flex;
  flex-direction: column;
  
}

.para{
  width: 100%;
  display: flex;
}


.spark{
  flex: 8;
  /*border: 5px solid white;*/
  margin: 5px;
}



.shaastra{
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(150deg, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(150deg, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  flex: 5;
  margin: 5px;
  color: white;
}

.video{
  
  display: flex;
  margin: 5px;
}

.w{
  background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  margin: 5px;
  display: flex;
}

.when{
  flex: 1;
}

.where{
  flex: 2;
}

.w h1{
  line-height: 1.5;
  margin-bottom: 20px;
}

.where h1{
  display: inline-block;
}

/*#s1{
  animation: one 0.2s ease 10.2s 1;
}

#s2{
  animation: one 0.2s ease 10.4s 1;
}

#s3{
  animation: one 0.2s ease 10.6s 1;
}

#s4{
  animation: one 0.2s ease 10.8s 1;
}

#s5{
  animation: one 0.2s ease 11s 1;
}*/

.struct{
  color: white;
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  display: flex;
}

.lists{
  flex: 1;
  margin: 20px 0px;
}

.lists ul{
  margin-top: 25px;
  max-width: 400px
}

.struct li{
  padding-left: 0px;
}

.contact{
  
}

.cs{
  display: flex;

}

.m{
  border-radius: 5px;
  margin: 5px;
  /*min-width: 400px;*/
}

.shaastra.m{
  margin: 5px 0px;
}

.c{
  flex: 1;
}

.spark img{
  max-height: 350px;
  position: relative;
  top:-80px;
  float: right;
  opacity: 0.8;
  width: 50%;
  transition: all 200ms ease-in;
}

.struct img{
  filter: invert();
  opacity: 0.3;
  height: 300px;
  transform: translateY(75px); 
}

/*animations*/

@keyframes up{
  0%{transform: translateY(20px); opacity: 0.1;}
  100%{transform: translateY(0px); opacity: auto;}
}

@keyframes one{
  0%{transform: scale(3); opacity: 0;}
  100%{transform: scale(1); opacity: 1;}

}


/*text styles*/

.content ul, .sidebar ul{
  padding: 0px 15px;
  margin: 0px;
}

.content li, .sidebar li{
  list-style: none;
  padding-bottom: 15px; 
}

.content p{
  font-family: 'Open Sans', serif;
  margin: 15px 20px;
  font-size: 18px;
  line-height: 1.8;
  opacity: 0.8;
}

.struct li{
  font-family: 'Open Sans', serif;
  font-size: 16px;
  padding-left: 5px;
}

.spark h1{
  margin: 5px 20px;
  font-size: 48px;
}

.content h1{
  margin: 5px 20px;
}

.content h2{
  font-size: 24px;
  opacity: 0.7;
  margin-left: 20px;
}

.para h1, h2{
  animation: up 0.8s ease-out 0s 1;
}


/*h3{
  margin-left: 20px;
  background: black;
  color: white;
  padding: 5px;
  display: inline-block;
  font-family: 'Zilla Slab', serif;
  letter-spacing: 5px;
}*/

.content h3{
  margin-left: 20px;
  font-size: 18px;
}

.sidebar a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover{
  text-decoration: underline;
  transition: all 0.3s ease;
}

#hide{
    display: none;
}

#out{
  float: right;
  margin-right: 30px;
  padding: 5px;
  color: white;
}

/*mobile view*/

@media only screen and (max-width: 1024px){
  .sidebar{
    display: none;
  }

  .content{
    margin-left: 0px;
    flex-wrap: wrap;
    width: 98vw;
    max-width: 95vw;
  }

  .struct img{
    display: none;
  }
  
  
}

@media only screen and (max-width: 700px){
  .para, .struct{
    flex-direction: column;
  }

  iframe{
    height: 400px;
  }

}

/*experiments*/

.content input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.content label {  
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
}

/* Toggled State */
.content input[type=checkbox]:checked ~ #hide {
   display: block;
}

.content input[type=checkbox]:checked ~ label{
  display: none;
}

/*table

th, td{
  font-family: 'Montserrat';
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(3n+0){
  background-color: #ededed;
}

*/