<div class="container">
	City
	<div>
		<select ng-model="entriesCtrl.curCity" ng-options="city as city.CityName for city in entriesCtrl.cities" style="width: 25%; margin-bottom: 20px;">
    </select>
    <button class="btn btn-primary" ng-click="entriesCtrl.getRegistrations()">Get Registrations</button>
	</div>
	<div ng-show="entriesCtrl.show">
		<table>
			<tr>
				<th>Name</th>
				<th>Roll Num.</th>
				<th>School</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			<tr ng-repeat="Regn in entriesCtrl.regns"">
				<td>{{Regn.name}}</td>
				<td>{{Regn.rollnum}}</td>
				<td>{{Regn.school}}</td>
				<td>{{Regn.email}}</td>
				<td>{{Regn.mobile}}</td>
			</tr>
		</table>
	</div>
</div>