<form method="post" name="theform" novalidate>
  <div id="msform" ng-init="step=1">
    <fieldset ng-show="step==1">

      <h2 class="fs-title">Spark Registration Form</h2>
      <label class="control-label">City* </label><br/>
      <select ng-options="x.CityName for x in ctrl.cities" ng-model="editCtrl.curCity" ng-change="editCtrl.changeCurCity()" style="width: 25%; margin-bottom: 20px;">
    </select>
      <div class="input-group" ng-class="{'has-error':!theform.Name.$valid && !theform.Name.$untouched,'has-success':theform.Name.$valid}" >
        <label class="control-label">
          <i class="glyphicon glyphicon-user" style="float:left">
          </i> Name *
        </label>
        <input type="text" name="Name" placeholder="Your Name" ng-required="true" ng-model="ctrl.newparticipant.name" class="form-control"/>
        <p class="help-block" ng-show="theform.Name.$error.required && theform.Name.$touched">
          This field is required
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.insti.$valid && !theform.insti.$untouched,'has-success':theform.insti.$valid}" >

        <label class="control-label">
          <i class="glyphicon glyphicon-education" style="float:left">

          </i> School Name *
        </label>
        <input type="text" name="insti" ng-required="true" placeholder="Institution you are studying in" ng-model="ctrl.newparticipant.insti" class="form-control"/>
        <p class="help-block" ng-show="theform.insti.$error.required && theform.insti.$touched">
          This field is required
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.stream.$valid && !theform.stream.$untouched,'has-success':theform.stream.$valid}"  >
        <label class="control-label">Roll Number *
        </label>
        <input type="text" class="form-control" name="stream" ng-required="true" placeholder="Stream" ng-model="ctrl.newparticipant.stream" />
        <p class="help-block" ng-show="theform.stream.$error.required && theform.stream.$touched">
        This field is required
        </p>
      </div>

  <div class="input-group has-feedback" ng-class="{'has-error':!theform.email.$valid && (theform.email.$dirty || theform.email.$touched),'has-success':theform.email.$valid}" >
      <label class="control-label">Email ID (Don't worry, we send no spam) * </label>
      <input type="email" name="email" ng-required="true" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" class="form-control" placeholder="Enter your Email-id" ng-model="ctrl.newparticipant.email"/>
      <p class="help-block" ng-show="theform.email.$error.required && theform.email.$touched">
        This field is required
      </p>
      <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.email.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.email.$valid && (!theform.email.$pristine || theform.email.$touched)}">
      </div>

      <p class="help-block" ng-show="theform.email.$invalid && theform.email.$dirty">
          Please Enter a valid Email ID
      </p>
      </div>

  <div class="input-group has-feedback" ng-class="{'has-error':!theform.mobno.$valid && (theform.mobno.$dirty || theform.mobno.$touched),'has-success':theform.mobno.$valid}" >
      <label class="control-label">Mobile Number *</label>
      <input type="text" name="mobno" ng-required="true" class="form-control" ng-pattern="/^[0-9]{10}$/" placeholder="Your Mobile number" ng-model="ctrl.newparticipant.mobile_no" />

      <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.mobno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.mobno.$valid && (!theform.mobno.$pristine || theform.mobno.$touched)}">
      </div>
      <p class="help-block" ng-show="theform.mobno.$error.required && theform.mobno.$touched">
        This field is required
      </p>
      <p class="help-block" ng-show="theform.mobno.$invalid && theform.mobno.$dirty">
          Enter a Valid Mobile No. thats is 10-Digit long
      </p>
      </div>

      <button name="Submit"  class="submit action-button" value="submit" ng-disabled="theform.Name.$error.required || theform.team_name.$error.required || theform.insti.$error.required || theform.stream.$error.required || theform.file.$error.required || theform.work_upon.$error.required || theform.email.$error.required || theform.$error.pattern || (theform.mem2_email.$error.required && !theform.mem2_name.$error.required) || (theform.mem3_email.$error.required && !theform.mem3_name.$error.required) || (theform.mem4_email.$error.required && !theform.mem4_name.$error.required) || (theform.mem5_email.$error.required && !theform.mem5_name.$error.required)"  ng-click ="ctrl.submitform()"  >Submit</button>

      <div style="color:rgb(217,83,79);font-size:13px" >
        The fields marked with ** are required
      </div>
    </fieldset>



  </div>
</form>
