<form method="post" name="theform" novalidate>
  <div id="msform" ng-init="step=1">
    <fieldset ng-show="step==1">

      <h2 class="fs-title">Summit Registration Form</h2>
      <h3 class="fs-subtitle">Personal Details</h3>

      <div class="input-group" ng-class="{'has-error':!theform.Name.$valid && !theform.Name.$untouched,'has-success':theform.Name.$valid}" >
        <label class="control-label">
          <i class="glyphicon glyphicon-user" style="float:left">
          </i> Name *
        </label>
        <input type="text" name="Name" placeholder="Your Name" ng-required="true" ng-model="ctrl.newparticipant.name" class="form-control"/>
        <p class="help-block" ng-show="theform.Name.$error.required && theform.Name.$touched">
          This field is required
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.rollno.$valid && !theform.rollno.$untouched,'has-success':theform.rollno.$valid}" >

        <label class="control-label">
          <i class="glyphicon glyphicon-education" style="float:left">

          </i> Roll No *
        </label>
        <input type="text" name="rollno" ng-required="true" placeholder="Enter your roll no" ng-model="ctrl.newparticipant.rollno" class="form-control"/>
        <p class="help-block" ng-show="theform.rollno.$error.required && theform.rollno.$touched">
          This field is required
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.school.$valid && !theform.school.$untouched,'has-success':theform.school.$valid}"  >
        <label class="control-label">School *
        </label>
        <input type="text" class="form-control" name="school" ng-required="true" placeholder="Stream" ng-model="ctrl.newparticipant.school" />
        <p class="help-block" ng-show="theform.school.$error.required && theform.school.$touched">
        This field is required
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.phonenumber.$valid && !theform.phonenumber.$untouched,'has-success':theform.phonenumber.$valid}" >
        <label class="control-label">
          <i class="glyphicon glyphicon-user" style="float:left">
          </i> Phone Number *
        </label>
        <input type="text" name="phonenumber" placeholder="Your Mobile No" ng-required="true" ng-pattern="/^[0-9]{10}$/" ng-model="ctrl.newparticipant.phonenumber" class="form-control"/>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.phonenumber.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.phonenumber.$valid && (!theform.phonenumber.$pristine || theform.phonenumber.$touched)}">
      </div>
        <p class="help-block" ng-show="theform.phonenumber.$error.required && theform.phonenumber.$touched">
          This field is required
        </p>
        <p class="help-block" ng-show="theform.phonenumber.$invalid && theform.phonenumber.$dirty">
            Please Enter a valid Phonenumber
        </p>
      </div>

      <div class="input-group has-feedback" ng-class="{'has-error':!theform.email.$valid && (theform.email.$dirty || theform.email.$touched),'has-success':theform.email.$valid}" >
         <label class="control-label">Email ID  * </label>
         <input type="email" name="email" ng-required="true" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" class="form-control" placeholder="Enter your Email-id" ng-model="ctrl.newparticipant.email"/>
         <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.email.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.email.$valid && (!theform.email.$pristine || theform.email.$touched)}">
         </div>
         <p class="help-block" ng-show="theform.email.$error.required && theform.email.$touched">
           This field is required
         </p>
         <p class="help-block" ng-show="theform.email.$invalid && theform.email.$dirty">
             Please Enter a valid Email ID
         </p>
         </div>

         <div class="input-group has-feedback" ng-class="{'has-error':!theform.email.$valid && (theform.email.$dirty || theform.email.$touched),'has-success':theform.email.$valid}" >
           <label>City</label>
      <br>
      <select ng-model="ctrl.newparticipant.city" ng-options="city for city in cities"></select>
      <p class="help-block" ng-show="theform.email.$error.required && theform.email.$touched">
              This field is required
</p>
            </div>



      <button name="Submit"  class="submit action-button" value="submit" ng-disabled="theform.Name.$error.required || theform.rollno.$error.required || theform.school.$error.required || theform.phonenumber.$error.required || theform.email.$error.required"  ng-click ="ctrl.submitform()"  >Submit</button>


      <div style="color:rgb(217,83,79);font-size:13px" ng-show="theform.Name.$error.required || theform.rollno.$error.required || theform.school.$error.required || theform.phonenumber.$error.required || theform.email.$error.required">
      The Form can't be submitted as some of the fields aren't filled as required.
      </div>
      <br />
      <div style="color:rgb(217,83,79);font-size:13px" >
        The fields marked with * are required
      </div>
    </fieldset>



  </div>
</form>
